Dear Admin,
<p>Error reported on User Management Tool. Following are the details,</p>
<ul>
	<li>SQLite ID: <TMPL_VAR NAME=ROW_ID></li>
	<li>Category: <TMPL_VAR NAME=CATEGORY></li>
	<li>Operation: <TMPL_VAR NAME=OPERATION></li>
	<li>InvokedBy: <TMPL_VAR NAME=INVOKEDBY></li>
	<li>InvokedAt: <TMPL_VAR NAME=INVOKEDAT></li>
	<li>Attempts: <TMPL_VAR NAME=ATTEMPTS></li>
	<li>Record Info: <TMPL_VAR NAME=INFO></li>
</ul>
<p>Error: <TMPL_VAR NAME=ERR_MSG></p>
- UserManagementTool
