<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>A Very Warm Welcome To Pramati!</title>
</head>
<body>
Dear <TMPL_VAR NAME=EMPNAME>,
<h5 align='center'><u>Greetings And A Warm Welcome from the Team @ Pramati!!</u></h5>
<p>HR team @ Pramati would like to congratulate you and welcome you aboard. We appreciate your interest in choosing to work with us. We are hoping to see some valuable contributions towards your personal self along with your work at Pramati. We also hope you have a wonderful time with the working teams and the work atmosphere.</p>

<p>Team HR would always be there to help you with any kind of queries and hear to your concerns. Feel free to approach us and we should be able to find a way out for you.</p>

<p>Please go through <a href="https://pramati.qontext.com/">https://pramati.qontext.com/</a> an intranet website to help you know more about Pramati.</p> 

<p>You can change your system password through <a href="http://auth.pramati.com/">auth.pramati.com</a>. Update your profile at <a href="http://authtool.pramati.com/update/"> Pramati Profile</a>.</p>

Request you to go though:<br>
<a href="https://pramati.qontext.com/portal/groups/2011011982531/pages/PGacbf7QT31ff00f4695200c8f2960dd7495">https://pramati.qontext.com/portal/groups/2011011982531/pages/PGacbf7QT31ff00f4695200c8f2960dd7495 giving details on Work Ethics at Pramati</a><br>
<a href="https://pramati.qontext.com/portal/groups/2011011982531/pages/PGacbf7QT31ff00f4695aa3c11b45f228417">https://pramati.qontext.com/portal/groups/2011011982531/pages/PGacbf7QT31ff00f4695aa3c11b45f228417</a> - Leave Policy at Pramati

<br>

<br>
Pramati is ISO certified and hence we have employee awareness and a mandatory training program.  Please click on the below links to take the training<br>
1. <a href="https://pramati.qontext.com/docstore/permalink/DSacbf7QT31ff00f469598bab09a3d33def4">https://pramati.qontext.com/docstore/permalink/DSacbf7QT31ff00f469598bab09a3d33def4</a><br>
2. <a href="http://downloads.pramati.com/downloads/linux/ISO27001">http://downloads.pramati.com/downloads/linux/ISO27001</a><br>


<br>

<u> Get in Touch - </u><br>
For notification of any help/ issues/ lodging complaints, you are requested to mail  / interact with the following departments and it's respective team members , <br>
1. Admin - Somanath Danda (<a href="mailto:somanathd@pramati.com">somanathd@pramati.com</a>) X- 313<br>
2. Finance - Satish Kumar V (<a href="mailto:satishkumar@pramati.com">satishkumar@pramati.com</a>) X -  325<br>
3. HR - Rupa Bang (<a href="mailto:rupa.b@pramati.com">rupa.b@pramati.com</a>) X - 307 <br>
4. System Admin, Troubleshooting - Narasimha/Ravi G (<a href="mailto:narasimha@pramati.com">narasimha@pramati.com</a> / <a href="mailto:ravig@pramati.com">ravig@pramati.com</a>) <br>
5. The leave application portal: <a href="https://hr.pramati.com/hrm/login.php">https://hr.pramati.com/hrm/login.php</a> <br>
6. To report any systems related issues use portal at <a href="http://systems.pramati.com">http://systems.pramati.com</a> <br>
<br>
<u>Hardware/Software downloads :</u><br>
For installation of software's you are requested to use the following URL, <a href='http://downloads.pramati.com'>downloads.pramati.com</a> where you can have access to permissible installation of software's.
<p><i>We are looking forward to a long-term relationship and your success at Pramati!</i></p>
<br>  
Cheers!<br>
Human Resource
</body>
</html>
